<!-- ここから_header.ejs -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="<%= meta.path %>/css/styles.css">
  <title><%= meta.ttl %></title>
  <meta name="description" content="<%= meta.desc %>">
  
</head>

    <p>ココはheader.ejsに221017に追加した文章</p>
    <%= title %>

      <body>

        <!-- ここまで_header.ejs -->