<% title = 'トップページのタイトルタグ'; %>
<% var description = 'トップページのディスクリプション！！'; %>
<% path = '.'; %>

<%
const indexMeta = {
    ttl: 'トップのタイトルindex',
    desc: 'ディスクリプションindex',
    url: 'index.html',
    path: '.'
};
%>

<%
const test = {
    ttl: 'テスト',
};
%>

<% var title3 = 'タイトル'; %>

<%- include('./common/_header', {meta: indexMeta, test:test, title3}) %>

<!-- Q&Aの部分 -->
<section class="qa layout-qa">
  <div class="qa__inner">
    <div class="section-title">
      <h2 class="section-title__en">Q&A</h2>
      <h2 class="section-title__ja">よくある質問</h2>
    </div>
    <ul class="qa__contents">
      <li class="qa__content">
        <div class="qa__label">
          <p>大体の見積り金額を電話で<br class="br-450">教えてもらえますか？</p>
          <div class="qa__icon-wrap"><span class="qa__icon"></span></div>
        </div>
        <div class="qa__answer">
          <p>あああああああああああああああ</p>
        </div>
      </li>
      <li class="qa__content">
        <div class="qa__label">
          <p>もともと貼ってあるフィルムは<br class="br-mm">いくらで剥がしてもらえますか？</p>
          <div class="qa__icon-wrap"><span class="qa__icon"></span></div>
        </div>
        <div class="qa__answer">
          <p>あああああああああああああああ</p>
        </div>
      </li>
      <li class="qa__content">
        <div class="qa__label">
          <p>途中でキャンセルもしくは<br class="br-mm">フィルムの変更は可能ですか？</p>
          <div class="qa__icon-wrap"><span class="qa__icon"></span></div>
        </div>
        <div class="qa__answer">
          <p>あああああああああああああああ</p>
        </div>
      </li>
      <li class="qa__content">
        <div class="qa__label">
          <p>土日祝日でも施工していますか？</p>
          <div class="qa__icon-wrap"><span class="qa__icon"></span></div>
        </div>
        <div class="qa__answer">
          <p>あああああああああああああああ</p>
        </div>
      </li>
      <li class="qa__content">
        <div class="qa__label">
          <p>引越後でもガラスフィルムの<br class="br-450">施工は可能ですか？</p>
          <div class="qa__icon-wrap"><span class="qa__icon"></span></div>
        </div>
        <div class="qa__answer">
          <p>あああああああああああああああ</p>
        </div>
      </li>
      <li class="qa__content">
        <div class="qa__label">
          <p>現物サンプルを見たい時には<br class="br-mm">どうすれば良いですか？</p>
          <div class="qa__icon-wrap"><span class="qa__icon"></span></div>
        </div>
        <div class="qa__answer">
          <p>あああああああああああああああ</p>
        </div>
      </li>
    </ul>
    <div class="qa__button-area">
      <a href="" class="button">Q&A<span></span></a>
    </div>
</section>

<!-- 付箋のアニメーション -->
<section class="sticky layout-sticky">
  <div class="sticky__inner">
    <div class="section-title">
      <h2 class="section-title__en">STICKY</h2>
      <h2 class="section-title__ja">付箋のアニメーションエリア</h2>
    </div>
    <div class="sticky__wrapper">
      <div class="sticky__image sticky1">
        <img src="./images/sticky-yellow.png" alt="黄色の付箋">
      </div>
      <div class="sticky__image sticky2">
        <img src="./images/sticky-red.png" alt="赤色の付箋">
      </div>
      <div class="sticky__image sticky3">
        <img src="./images/sticky-green.png" alt="緑色の付箋">
      </div>
    </div>
  </div>
</section>

<!-- <%= description %> -->

</div><!-- /qa__inner -->
</div><!-- /qa -->

<%- include('./common/_footer') %>
